$typetitle: #ff091a;
$contenPadding: 36;
$headerHeight: 88;
$white: #fff;
$mainBg: #f8f8f8;
$--color--2: #eee;
$color-text-9: #999 !default;
$comonMaxWidth: 540px;
$commonMargin: 32;
$--color--3: #bdceff;
